<header class="header-section">
  <div class="container-fluid">
      <div class="inner-header">
          <!-- Logo -->
          <div class="logo">
              <a routerLink="/"><img src="assets/img/logo-easy-stay.PNG" alt="Logo"></a>
          </div>
          <!-- Navigation -->
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <nav class="main-menu mobile-menu">
                          <ul>
                              <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                              <li><a routerLink="/about-us" routerLinkActive="active">About</a></li>
                              <li><a routerLink="/hotel" routerLinkActive="active">Hotels</a></li>
                              <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                              <li><a routerLink="/finance-report" routerLinkActive="active">finance-reports</a></li>
                            
                              <li class="login"><a routerLink="/login" routerLinkActive="active">Login</a></li>


                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
          <div id="mobile-menu-wrap"></div>
      </div>
  </div>
</header>

