<app-header></app-header>

<!-- Hero Slider Begin -->
<div class="hero-slider">
  <div class="slider-item">
      <div class="single-slider-item set-bg" style="background-image: url('assets/img/slider-1.jpg');">

          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <h1>We hope you’ll enjoy <br />your stay.</h1>
                  </div>
              </div>
              <!-- Slider Navigation -->
              <div class="row">
                  <div class="col-lg-12">
                      <div class="slider-nav">
                          <a href="#" class="single-slider-nav">
                              <img src="assets/img/nav-1.jpg" alt="">
                              <div class="nav-text active">
                                  <p>Pool<i class="lnr lnr-arrow-right"></i></p>
                              </div>
                          </a>
                          <a href="#" class="single-slider-nav">
                              <img src="assets/img/nav-2.jpg" alt="">
                              <div class="nav-text">
                                  <p>Sauna<i class="lnr lnr-arrow-right"></i></p>
                              </div>
                          </a>
                          <a href="#" class="single-slider-nav last">
                              <img src="assets/img/nav-3.jpg" alt="">
                              <div class="nav-text">
                                  <p>Restaurant<i class="lnr lnr-arrow-right"></i></p>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Hero Slider End -->

<!-- Affichage du composant SectionHotel apres partie home -->
<app-offer></app-offer>
<!-- Affichage du composant Footer apres section hotel -->
<app-footer></app-footer>
